﻿body, html {
    height: 100%;
    margin: 0;
}

.video-header{
          height: 75%;
         display: flex;
	     align-items: center;
	     color: #fff;
	
}

.wrap{
	max-width: 960px;
	padding-left: 1rem;
	padding-right: 1rem;
	margin:auto;
	text-align: center;
	
}
.fullscreen-video-wrap{
padding-top: 55px;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	
}
.fullscreen-video-wrap video{
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);

	
}

.header-overlay{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(34,33,33,0.65);
	opacity: 0.80;
	
}

.header-content {
    position: fixed;
    z-index: 2;
    margin-top: 35vh;
    padding: 0 5rem;
    font-family: LiHei Pro  ,Arial,微軟正黑體;
    color: #FFFFFF;
    margin-left: 10%;
}

.overlay-title{
    font-size: 1.5rem;
    margin-bottom:0px;
}
.overlay-subtitle {
    font-size:2.5rem;
    font-weight: bold;
}
/*手機板*/
@media(max-width:768px){
    .header-content {
        margin-top: 40vh;
        margin-left: 0;
        text-align: center;
    }
    .overlay-title {
        font-size: 4vw;
        white-space: nowrap;
        margin-bottom: 16px;
    }

    .overlay-subtitle {
        font-size: 7vw;
        font-weight: bold;
        white-space: nowrap;
    }
}


.navbar{z-index: 10; }