﻿/*
    hanburger bar change: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_menu_icon_js
    menu dropdown: https://www.w3schools.com/howto/howto_css_dropdown.asp
    phone menu bar: https://www.w3schools.com/howto/howto_js_mobile_navbar.asp
    normal menu: https://www.w3schools.com/css/tryit.asp?filename=trycss_navbar_horizontal_black
    sub navigative menu: https://www.w3schools.com/howto/howto_css_subnav.asp
    有RWD的menu: https://www.w3schools.com/howto/howto_js_topnav_responsive.asp
    menu為slide，能指定方向滑出來: https://www.w3schools.com/howto/howto_js_fullscreen_overlay.asp

    bootstrap navbar align對齊方式: https://stackoverflow.com/questions/19733447/bootstrap-navbar-with-left-center-or-right-aligned-items
*/


/* 設定navbar背景顏色 */
.navbar {
    background: linear-gradient(151.69deg, rgba(40,130,255,0.37) 0%, rgba(89,188,255,0.76) 40.75%, rgba(151,245,255,0.76) 100%) !important;
}

/* 共同 */
/*設定slide*/
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: linear-gradient(0deg, #D0DCFF 0%, #D2F6FF 100%);
    overflow-x: hidden;
    transition: 0.1s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a:not(.closebtn) {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: white;
    display: block;
    transition: 0.3s;
}

.overlay a:not(.nonactive):hover, .overlay a:not(.nonactive):focus {
    color: #39ADFF;
    text-decoration: underline;
}

/* 選單右上方的叉叉設定 */
.closebtn, .closebtn:active, .closebtn:hover {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    font-weight: 100;
    text-decoration: none;
    color: white !important;
}

/* 手機(螢幕大小小於768) */
@media only screen and (max-width: 768px) {
    /* 設定nav */
    nav {
        width: 100%;
        position: fixed !important;
        padding-top: 16px !important;
        height: 70.89px !important;
    }

    .navbar-brand > a > img{
        width: 86px;
        height: 15px;
    }

    /* 設定menu樣式 */
    .navbar-collapse {
        height: 100%;
        width: 0%;
        display: block !important;
        position: fixed;
        z-index: 15;
        top: 0;
        left: 0;
        background: linear-gradient(0deg, #D0DCFF 0%, #D2F6FF 100%);
        overflow-x: hidden;
        transition: 0.1s;
    }

    /* 設定手機跳出的menu ul*/
    .navbar-nav {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }

    /* 設定menu上的連結樣式 */
    .nav-link {
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: white !important;
        display: block;
        transition: 0.3s;
    }

    /* hanburger icon邊界設定 */
    .navbar-toggler {
        border-width: 0px !important;
        outline: none !important;
    }

    /* 設定hanburger icon裡面的長短線條 */
    .hanburgerIconLong {
        width: 30px;
        height: 5px;
        background-color: white;
        margin: 6px 0;
    }

    .hanburgerIconShort {
        width: 20px;
        height: 5px;
        background-color: white;
        margin: 6px 0;
    }

    .RightSpace {
        display: block;
    }
}

/* 電腦(螢幕大小大於768) */
@media only screen and (min-width: 768px){
    /* 設定nav */
    nav {
        width: 100%;
        position: fixed !important;
        padding-left: 81.5px !important;
        padding-right: 59.45px !important;
        height: 75px !important;
    }

    /* hanburger icon邊界設定 */
    .navbar-toggler {
        display: block !important;
        border-width: 0px !important;
        outline: none !important;
    }

    .navbar-brand > a > img{
        width: 112.39px;
        height: 19.46px;
    }

    /* 設定hanburger icon裡面的長短線條 */
    .hanburgerIconLong {
        width: 30px;
        height: 5px;
        background-color: white;
        margin: 6px 0;
    }

    .hanburgerIconShort {
        width: 20px;
        height: 5px;
        background-color: white;
        margin: 6px 0;
    }

    .nav-item > a{
        color: white !important;
    }

    .RightSpace{
        display: none;
    }
}

