﻿body {
}

/*全域使用*/
.container-fluid {
    padding: 0 !important;
}
/*第一區塊使用*/
.container-fluid.first {
    height: auto;
    width: 100%;
    background: url("../Image/第1屏.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    align-items: center;
}

.first-row-box-img {
    width: 100%;
    height: auto;
}

.first-row-box-title {
    margin-top: 17.14px;
    margin-left: 27.95px;
    color: #3D3D3D;
    font-family: Noto Sans TC;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.75px;
    line-height: 27px;
}

.first-row-box-phoneDiv-div {
    width: 60.4%;
    height: 52.5%;
    margin: auto;
    margin-top: 18.73px;
}

.first-row-box-phoneDiv-text {
    text-align: center;
    color: #969696;
    font-family: Microsoft JhengHei,Noto Sans TC;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.58px;
    line-height: 20px;
    padding-bottom: 17.21px;
}

    /*第二區塊使用*/
    .container-fluid.second {
        height: auto;
        width: 100%;
        background: url("../Image/Path Copy.png"),url("../Image/第2屏範圍.png");
        background: linear-gradient(185.03degree, rgba(255,220,247,0.55), #C9E5FF);
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover;
        /*background: -webkit-linear-gradient(top,#0000FF,#0099FF);*/
    }

.second-container {
    width: 70%;
    height: auto;
    margin: 0 auto;
    padding-top: 157.87px;
    padding-bottom: 140px;
}

.col-md-3 {
    margin-right: -0.1vw;
    margin-left: -0.1vw;
}

.second-container-title {
    color: #FFFFFF;
    font-size: 2rem;
    font-family: Noto Sans TC,Arial,微軟正黑體;
}

.second-white-box {
    padding-top: 43px;
}

.second-white-box-content {
    height: 17vw;
    width: 100%;
    border-radius: 17px;
    background-color: #FFFBFE;
    box-shadow: 0 2px 28px 0 rgba(84,136,229,0.5);
    text-align: center;
    padding-top: 4vw;
}

    .second-white-box-content.third {
    }

    .second-white-box-content.fourth {
        padding-top: 4.1vw;
    }

.second-word {
    color: #383838;
    font-family: Noto Sans TC,Arial,微軟正黑體;
    font-size: 1rem;
    padding-top: 1vw;
}

    .second-word.third {
        padding-top: 2vw;
    }

    .second-word.fourth {
        padding-top: 0.9vw;
    }

.img {
    height: auto;
    max-width: 60%;
}

.second-nouse {
    min-height: 4vw;
}

/*第三區塊使用*/
.container-fluid.third {
    height: auto;
    width: 100%;
    background: url("../Image/第3屏.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.third-container {
    width: 61%;
    height: auto;
    margin: 0 auto;
    padding-top: 50px;
}

.third-container-title {
    color: #FFFFFF;
    font-size: 2rem;
    font-family: Noto Sans TC,Arial,微軟正黑體;
    text-align: center;
}

.third-container-subtitle {
    padding-top: 13px;
    text-align: center;
    color: #747474;
    font-size: 18px;
    font-family: Noto Sans TC,Arial,微軟正黑體;
}

.img-block {
    width: 100%;
    max-width: 880px;
    max-height: 397px;
    margin: 0 auto;
    height: 30vw;
    text-align: center;
    background: url("../Image/poster ref copy.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding-bottom: 94px;
}

.third-nouse {
    min-height: 4vw;
}

/*第四區塊使用*/
.container-fluid.fourth {
    height: auto;
    width: 100%;
    background: url("../Image/第4屏.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
}

.fourth-container {
    width: 75%;
    height: auto;
    margin: 0 auto;
    padding-top: 85px;
}

.fourth-container-title {
    color: #FFFFFF;
    font-size: 2rem;
    font-family: Noto Sans TC,Arial,微軟正黑體;
}

.container-fluid.fourth-white-block {
    width: 100%;
    height: auto;
    margin-top: 14px;
    background: #FFFFFF;
    box-shadow: 0 2px 25px 0 rgba(86,156,201,0.5)
}

.fourth-white-block-header {
    padding-top: 26px;
}

.fourth-white-block-content {
    font-family: Noto Sans TC,Arial,微軟正黑體;
    font-size: 1.4em;
    color: #000000;
    font-weight: bold;
}

    .fourth-white-block-content.first {
        padding-top: 17px;
    }

    .fourth-white-block-content.second {
        padding-top: 4px;
        padding-bottom: 25px;
    }
/*底層footer使用*/
.container-fluid.fooder {
    position: relative;
    height: auto;
    width: 100%;
    background: url("../Image/feeter.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% 100%;
}

.word {
    position: relative;
    color: #FFFFFF;
    font-family: PingFangTC-Ultralight,Microsoft JhengHei;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}

/* 手機 */
@media(max-width: 768px){
    /* 第一區塊 */
    .first-row {
        width: 70%;
        margin: auto !important;
        padding-bottom: 100px;
    }

    .firstBox-Box-phoneBottomImage {
        display: block;
    }

    .BoxButton {
        background-color: white;
        height: auto;
        width: 100%;
        outline: none;
        border-width: 0px;
        margin-left: auto;
        margin-right: auto;
    }

        .BoxButton:active, .BoxButton:focus {
            outline: none;
        }

    .first-row-box {
        padding-left: 5px !important;
        padding-right: 5px !important;
        top: 100px;
        bottom: 500px;
        margin-top: 10px;
        min-height: 100%;
        display: flex;
        align-items: center;
    }

    .first-productShowBox {
        display: none;
    }

    .first-row-box-phoneDiv {
        display: block;
        width: 100%;
        height: auto;
    }

    /*第二區塊使用*/
    .second-container {
        width: 40%;
    }

    .second-white-box-content {
        height: 40vw;
        width: 100%;
        padding-top: 10vw;
    }

        .second-white-box-content.second {
            margin-left: 0px;
            margin-top: 10px;
        }

        .second-white-box-content.third {
            margin-left: 0px;
            margin-top: 10px;
        }

        .second-white-box-content.fourth {
            margin-left: 0px;
            margin-top: 10px;
            padding-top: 7vw;
        }

    .second-word {
        padding-top: 2vw;
    }

        .second-word.third {
            padding-top: 1.5vw;
        }

        .second-word.fourth {
            padding-top: 1.5vw;
        }
    /*第三區塊*/
    .img-block {
        width: 100%;
        max-width: 880px;
        max-height: 397px;
        height: 83vw;
        margin: 0 auto;
        text-align: center;
        background: url("../Image/768版_p3服務架構.png");
        background-repeat: no-repeat;
        background-position: center top;
        background-size: contain;
    }
    /*第四區塊*/
    .fourth-white-block-header {
        text-align: center;
    }

    .fourth-white-block-content {
        text-align: center;
    }
}

/* 電腦 */
@media (min-width: 768px) {
    /* 第一區塊 */
    .container-fluid.first {
        height: 830px;
    }

    .first-row {
        width: 90%;
        margin: auto !important;
    }

    .BoxButton {
        background-color: white;
        width: 100%;
        height: 130%;
        outline: none;
        border-width: 0px;
        cursor: pointer;
    }

        .BoxButton:active, .BoxButton:focus {
            outline: none;
        }

    .first-row-box {
        width: 100%;
        min-height: 100%;
        display: flex;
        align-items: center;
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    .first-row-box-phoneDiv {
        display: none;
        width: 100%;
        height: auto;
    }

    .first-productShowBox {
        display: none;
        background-color: rgba(0, 0, 0, 0.92);
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 10;
        top: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .first-productShowBox-closebtn {
        font-size: 50px;
        color: white !important;
        text-decoration: none;
        position: absolute;
        right: 1em;
        cursor: pointer;
        z-index: 1;
    }

    .first-productShowBox-table {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

        .first-productShowBox-table > table {
            width: 1081px;
            height: 591px;
        }

    .product-content {
        position: absolute;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
        font-size: 1em;
        color: white;
        margin: auto;
    }

    td {
        border: 15px rgba(0,0,0,0) dashed;
    }

    /*第四區塊使用*/

    .fourth-white-block-header {
        padding-left: 18%;
    }

    .fourth-white-block-content {
        padding-left: 23%;
        padding-right: 19%;
    }

    .fourth-white-block-content {
        font-family: Noto Sans TC,Arial,微軟正黑體;
        font-size: 1em;
        color: #000000;
        font-weight: bold;
    }
  }

@media (min-width: 768px) and (max-width: 1200px) {
    .fourth-white-block-header {
        padding-left: 5%;
    }

    .fourth-white-block-content {
        padding-left: 5%;
        padding-right: 5%;
    }
}