﻿<nav class="navbar navbar-expand-md navbar-light bg-light flex-nowrap">
    <button class="navbar-toggler" type="button" onclick="openNav()">
        <div class="hanburgerIconLong"></div>
        <div class="hanburgerIconShort"></div>
    </button>
    <div class="w-100 mr-md-0 mr-3"></div>
    <span class="navbar-brand w-100"><a href="index.html"><img src="Image/logo.png"></a></span>
    <div class="navbar-collapse collapse justify-content-center">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item" onmouseover="showAboutDropdown()" onmouseout="closeAboutDropdown()">
                <a class="nav-link" href="#">ABOUT</a>
                <div id="about-dropdown" style="display:none; position:absolute; margin-top: -13px; margin-left:9px; font-size: 12px; color: #A5A5A5;">暫未開放</div>
            </li>
            <li class="nav-item"  onmouseover="showWorkDropdown()" onmouseout="closeWorkDropdown()">
                <a class="nav-link" href="product.html">WORK</a>
                <div id="work-dropdown" style="display:none; position:absolute; margin-top: -13px; margin-left:17px;">
                    <div style="color:white; margin-left:9px; margin-top:7px;">▲</div>
                    <div style="width:auto; height:auto; background-color:white; margin-left:-42px; margin-top:-6px; border-radius: 9px; padding:29px 13px 32px 13px; font-size: 1rem; text-align: center; ">
                        <div style="margin: 0px 0px 4px 0px;">AR預測維護</div>
                        <div style="margin: 4px 0px 4px 0px;">AOI檢測系統</div>
                        <div style="margin: 4px 0px 4px 0px;">大數據分析</div>
                    </div>
                </div>
            </li>
            <li class="nav-item" onmouseover="showContactDropdown()" onmouseout="closeContactDropdown()">
                <a class="nav-link" href="#" >CONTACT</a>
                <div id="contact-dropdown" style="display:none; position:absolute; margin-top: -13px; margin-left:17px; font-size: 12px; color: #A5A5A5;">暫未開放</div>
            </li>
        </ul>
    </div>
    <!--phone slide menu-->
    <div class="overlay" id="navbarSupportedContent">
        <a class="closebtn" onclick="closeNav()">&times;</a>
        <div class="overlay-content">
            <a class="nonactive" href="#">ABOUT</a>
            <a href="product.html">WORK</a>
            <a class="nonactive" href="#">CONTACT</a>
        </div>
    </div>
    <div class="w-100 RightSpace"></div>
</nav>